.vscode
Makefile
*.o
*.lo
*.la
*.so
.libs/*
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
test/mod_srs_test
test/proto_test
test/rtc_test
CTestTestfile.cmake
test/CTestTestfile.cmake
test/nats_test
test/freeswitch.xml.fsxml
test/conf/freeswitch.xml.fsxml
Testing/
test/conf/core.db
test/execute_test
conf/freeswitch.xml.fsxml.tmp
examples/nodejs/node_modules/
test/conf/[0-9]*
test/conf-rtc/[0-9]*
test/asr_test
test/vmd_test
core
.DS_Store
test/3way_test
test/conf-rtc/
test/rtc_test
test/bridge_test
test/watermark_test
test/logger_loki_test
test/media_reneg_test
version.c
*.png
*.plist
package-lock.json
package.json
test/[0-9]*
[0-9]*
test/execute_test2
compile_commands.json
build/
